extends layout 

block content 

  button(onclick="location.href='/create/shaper'" class="create-btn") Add New Shaper 
  button(onclick="location.href='/create/model'" class="create-btn") Add New Model 
  button(onclick="location.href='/create/instance'" class="create-btn") Add New Stock 
  button(onclick="location.href='/create/delete'" class="create-btn") Remove Items 