extends layout

block content
 div(class="home-container")
  div(class="home-img-container")
      img(src="https://surfboardbucket.s3.eu-west-1.amazonaws.com/board_models.jpg", alt="Surfboard models List" class="home-img")
      button(onclick="location.href='/surfboardModel'" class="home-image-btn") View Board Models
  div(class="home-img-container")
      img(src="https://surfboardbucket.s3.eu-west-1.amazonaws.com/shapers_home.jpg", alt="Surfboard Shapers List" class="home-img")
      button(onclick="location.href='/shaper'" class="home-image-btn") View Shapers
