extends layout

block content
  
  form(method='POST' action='' enctype="multipart/form-data" class="create-form")
    h1=title
    div.form-group
      label(for='shaperName') Shaper/Brand Name:
      input#shaperName.form-control(type='text' placeholder='Channel Islands' name='shaperName' required='true' value=(undefined===shaper ? '' : shaper.shaperName) )
    div.form-group  
      label(for='location') Location:
      input#location.form-control(type='text' placeholder='California' name='location' required='true' value=(undefined===shaper ? '' : shaper.location))
    div.form-group  
      label(for='image') Logo Image:
      input#image.form-control(class="add-file-btn" type='file' name='image' value=(undefined===shaper ? '' : shaper.image) )
    button.btn.btn-primary(type='submit' class="submit-file-btn") Submit
  if errors
    ul
      for error in errors
        li!= error.msg
